// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.publication-list li {
  white-space: normal !important;
  word-wrap: break-word;
  line-height: 1.6;
  margin-bottom: 10px;
}

.publication-list {
  padding-left: 20px;
}